<% content_for :title, "End User License Agreement for #{ Settings.app_name }" %>

<div class="mdl-layout mdl-js-layout">
    <%= render partial: 'layouts/header' %>

    <main class="mdl-layout__content">

        <div class="mdl-grid simple-sheet">
            <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset simple-sheet__sheet">
                <h1>
                    <%= Settings.app_name %> End User Licence Agreement (EULA)
                </h1>
                <h2>
                    Licence Agreement
                </h2>
                <p>
                    <strong>Updated on: November 19, 2016</strong>
                </p>
                <p>
                    These are the terms and conditions subject to which we license any of our products to you. By using a Licensed Product, you agree to be bound by them. You may not use Our Website if you are under the age of 18 years.

                </p>
                <p>
                    We are <%= Settings.company_name %>.
                </p>
                <p>
                    Our address is TODO: FILL IN YOUR ADDRESS
                </p>
                <p>
                    You are: Anyone who buys a Licence or Licensed product from us.
                </p>
                <p>
                    It is now agreed as follows:
                </p>

                <h2>
                    1. Definitions
                </h2>

                <p>
                    In this agreement, the following words shall have the following meanings, unless the context requires otherwise:
                </p>
                <table>
                    <tbody>
                        <tr>
                            <td colspan="1" rowspan="1">
                                <p>&ldquo;Website&rdquo;</p>
                            </td>
                            <td colspan="1" rowspan="1">
                                <p>
                                    a single Shopify store.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                <p>
                                    &ldquo;Copy or Publish&rdquo;
                                </p>
                            </td>
                            <td colspan="1" rowspan="1">
                                <p>
                                    with reference to a Licensed Product, means reproducing or publishing in whole or in part, using any means, in any medium. It includes breaking up, changing, cropping or any other change or use as part of some other created work.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                <p>
                                    &quot;Intellectual Property&quot;
                                </p>
                            </td>
                            <td colspan="1" rowspan="1">
                                <p>
                                    means intellectual property owned by us, of every sort, whether or not registered or registrable in any country, including all Licensed Products, intellectual property of all kinds coming into existence after today; and including, among others,
                                    patents, trade marks, unregistered marks, designs, copyrights, domain names, discoveries, creations and inventions, together with all rights which are derived from those rights.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                <p>
                                    &ldquo;Licence&rdquo;
                                </p>
                            </td>
                            <td colspan="1" rowspan="1">
                                <p>
                                    means a licence granted by us to you in the terms of this agreement for use of a Licensed Product.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                <p>
                                    &ldquo;Licensed Product&rdquo;
                                </p>
                            </td>
                            <td colspan="1" rowspan="1">
                                <p>
                                    means any product, material or thing offered for license by us on Our Website, including the Software, and whether or not bought by you. A reference to &ldquo;Product&rdquo; shall be a reference to all or part of a Licensed Product or to a Product
                                    changed by you in any way.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                <p>
                                    &ldquo;Our Website&rdquo;
                                </p>
                            </td>
                            <td colspan="1" rowspan="1">
                                <p>
                                    means any website or service designed for electronic access by mobile or fixed devices which is owned or operated by us. It includes all web pages controlled by us.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                <p>
                                    &ldquo;Restrictions on Use&rdquo;
                                </p>
                            </td>
                            <td colspan="1" rowspan="1">
                                <p>
                                    means first, the restrictions set out in this agreement and second, all restrictions or limitations arising from choices you made at the time of purchase. These may relate to limitations on use, territory, duration, or any other choice which defines
                                    the Licensed Product. Third, restrictions include those made by you, if any, in private correspondence between us before your purchase.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="1" rowspan="1">
                                <p>
                                    &ldquo;Software&rdquo;
                                </p>
                            </td>
                            <td colspan="1" rowspan="1">
                                <p>
                                    means the software which constitutes the Licensed Product or which provides any electronic function which supports the use of the Licensed Product.
                                </p>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <h2>
                    2. Grant of Licence
                </h2>

                <p>2.1 Subject to payment of the licence fee from time to time, and to the other terms of this agreement, we grant to you a Licence for one month &nbsp;to use the Licensed Product throughout the World.
                </p>
                <p>2.2 We do not offer the Licence in all countries. We may refuse or revoke a Licence and return your payment if you live in a country we do not serve.
                </p>
                <p>2.3 The Licence is non-exclusive, non-assignable, non-transferable and otherwise as limited by the terms of this agreement.
                </p>
                <p>2.4 The Licence shall be for one month , renewable monthly , upon payment of the renewal fee.
                </p>
                <p>2.5 If any renewal payment is not made before the annual renewal date, <%= Settings.company_name %> &nbsp;may treat this agreement as having been terminated with effect from the renewal date. If that happen the effect shall be the same as if the agreement
                    had terminated by expiry of time.
                </p>
                <p>2.6 This Licence is limited by the Restrictions on Use and by the choices you have made at the time of purchase of your Licence. You agree to comply with all Restrictions on Use.
                </p>
                <p>2.7 No express or implied licence of the Licensed Product or any other material is granted to you other than the express Licence granted in this agreement.

                </p>

                <h2>
                    3. Restrictions on Use of Licensed Product
                </h2>

                <p>
                    You agree that you will not:
                </p>
                <p>3.1 use the Licensed Product for any purpose or in any way except as you selected and paid when you bought it from Our Website.

                </p>
                <p>3.2 separate the component parts of the Software for use on more than one Website . Reverse engineer, decompile, or disassemble the Software;
                </p>
                <p>3.3 sub-license, lease, or lend the Software or the Licensed Product;
                </p>
                <p>3.4 Copy or Publish a Licensed Product except as specifically allowed in this agreement;
                </p>
                <p>3.5 represent or give the impression that you are the owner or originator of any Licensed Product;
                </p>
                <p>3.6 remove any identification or reference number or other information which may be embedded in any file of a Licensed Product.
                </p>

                <h2>
                    4. Further requirements of the Licence
                </h2>

                <p>4.1 You must not allow any other person to use a Licensed Product except in the situation or context for which you have bought it.
                </p>
                <p>4.2 Every publication or appearance of a Licensed Product must bear an attribution in terms "Copyright <%= Settings.company_name %>".
                </p>
                <p>4.3 Every publication or appearance of a Licensed Product on a website must be protected as far as the law allows by separate, specific or general provisions against copying or publishing. We allow you to use the definition of &ldquo;Copy or
                    Publish&rdquo; used in this agreement.
                </p>
                <p>4.4 You must not use a Licensed Product:
                </p>
                <p>4.4.1 except for the use specified at the time of purchase;
                </p>
                <p>4.4.2 in part or as a whole, to incorporate it in any intellectual property of yours;
                </p>
                <p>4.5 If any information you give us is inaccurate, we may terminate your Licence and no refund of money will be due to you.
                </p>

                <h2>
                    5. Copying the Licensed Product
                </h2>

                <p>5.1 You may install only one copy of the Licensed Product on a single Website .
                </p>
                <p>5.2 You must not use separate component parts of the Licensed Product on more than one Website .
                </p>
                <p>5.3 You may install one additional copy of the Software on a single additional Website &nbsp;solely for backup &nbsp;or archival purposes or for use in testing the Software in a non-producti on &nbsp;environment.
                </p>

                <h2>
                    6. Freedom to transfer
                </h2>

                <p>6.1 You may permanently transfer all of your rights under this Licence Agreement, provided:
                </p>
                <p>6.1.1 you retain no copies;
                </p>
                <p>6.1.2 you transfer all of the Licensed Product (including all component parts, the media and printed materials, any upgrades and this Licence Agreement and Licence schedule);
                </p>
                <p>6.1.3 within 14 days of any transfer, the recipient contacts us in writing referring to the transfer and to this agreement and confirming his acceptance of it.
                </p>
                <h2>
                    7. Renewal payments
                </h2>

                <p>7.1 At any time before expiry of your Licence, you may remove the <%= Settings.app_name %> app from your Shopify admin to cancel renewal.
                </p>
                <p>7.2 At expiry of your Licence we shall automatically take payment from your payment method &nbsp;of the sum specified on installation.
                </p>

                <h2>
                    8. Security of your credit card
                </h2>

                <p>
                    We take care to make Our Website safe for you to use.
                </p>
                <p>8.1 Card payments are not processed through pages controlled by us. We use one or more online payment service providers who will encrypt your card or bank account details in a secure environment.
                </p>

                <h2>
                    9. Disclaimers and limitation of liability
                </h2>

                <p>9.1 The law differs from one country to another. This paragraph applies so far as the applicable law allows.
                    <p>9.2 All implied conditions, warranties and terms are excluded from this agreement. If in any jurisdiction an implied condition, warrant or term cannot be excluded, then this subparagraph &nbsp;shall be deemed to be reduced in effect, only to the
                        extent necessary to release that specific condition, warranty or term.
                    </p>
                    <p>9.3 We make no representation or warranty that the Licensed Product will be:
                    </p>
                    <p>9.3.1 useful to you;
                    </p>
                    <p>9.3.2 of satisfactory quality;
                    </p>
                    <p>9.3.3 fit for a particular purpose;
                    </p>
                    <p>9.3.4 data-secure;
                    </p>
                    <p>9.3.5 available or accessible, without interruption, or without error.
                    </p>

                    <p>9.4 We claim no expert knowledge in any subject. We disclaim any obligation or liability to you arising directly or indirectly from information you take from Our Website.
                    </p>
                    <p>9.5 you agree that in any circumstances when we may become liable to you, the limit of our liability is the amount you have paid us in the immediately preceding 12 month period for the Licensed Products concerned.
                    </p>
                    <p>9.6 We shall not be liable to you for any loss or expense which is:
                    </p>
            </ol>

            <p>9.6.1 indirect or consequential loss; or
            </p>
            <p>9.6.2 economic loss or other loss of turnover, profits, business or goodwill even if such loss was reasonably foreseeable or we knew you might incur it.
            </p>

            <p>9.7 This paragraph (and any other paragraph which excludes or restricts our liability) applies to our directors, officers, employees, subcontractors, agents and affiliated companies (who may enforce this provision under the Contracts (Rights of
                Third Parties) Act 1999, as well as to us.
            </p>
            <p>9.8 If you become aware of any breach of any term of this agreement by any person, please tell us by &nbsp;emailing

                <a href="mailto:<%= Settings.support_email %>"><%= Settings.support_email %></a>

                &nbsp; we welcome your input but do not guarantee to agree with your judgement.
            </p>
            <p>9.9 Nothing in this agreement shall be construed as limiting or excluding our liability for death or personal injury caused by our negligence.
            </p>

            <h2>
                10. You indemnify us
            </h2>

            <p>
                You agree to indemnify us against all costs, claims and expense arising directly or indirectly from:
            </p>
            <p>10.1 your failure to comply with the law of any country;
            </p>
            <p>10.2 your breach of this agreement;
            </p>
            <p>10.3 any act, neglect or default by any agent, employee, licensee or customer of yours;
            </p>
            <p>
                10.4 a contractual claim or breach of the intellectual property rights of any person arising from your use of the Licensed Products
            </p>
            <h2>
                11. Copyright and other Intellectual Property
            </h2>

            <p>11.1 You agree that at all times you will:
            </p>

            <p>11.1.1 not to cause or permit anything which may damage or endanger our title to any Licensed Product or other Intellectual Property or the title of any other person whose work has been made available to us as a Licensed Product;
            </p>
            <p>11.1.2 notify us of any suspected infringement of the Intellectual Property.
            </p>
            <p>11.2 If you use a Licensed Product in a way not allowed by this agreement we may take legal action anywhere in the World. If loss to us or any other person results from your wrongful action, you will be liable to pay.
            </p>
            <p>11.3 If we terminate the Licence on account of your breach, you agree that you will:
            </p>
            <p>11.3.1 immediately stop using the Licensed Product;
            </p>
            <p>11.3.2 destroy all copies of the Licensed Product in your possession or control;
            </p>
            <p>11.3.3 destroy any work of yours derived from a Licensed Product.
            </p>
            <p>11.4 To assure us that you are using the Licensed Product in accordance with the terms of the Licence, you agree that you will give us copies of your works and materials containing or using a Licensed Product. We will give you 14 days notice of
                this requirement. You agree also to provide access to relevant pages which have restricted access or are firewalled.
            </p>

            <h2>
                12. Miscellaneous matters
            </h2>

            <p>12.1 You undertake to provide to us your current land address, e-mail address and telephone as often as they are changed together with all information that we may require to enable us to fulfil our obligations under this contract.
            </p>
            <p>12.2 So far as any time, date or period is mentioned in this agreement, time shall be of the essence.
            </p>
            <p>12.3 If any term or provision of this agreement is at any time held by any jurisdiction to be void, invalid or unenforceable, then it shall be treated as changed or reduced, only to the extent minimally necessary to bring it within the laws of
                that jurisdiction and to prevent it from being void and it shall be binding in that changed or reduced form. Subject to that, each provision shall be interpreted as severable and shall not in any way affect any other of these terms.
            </p>
            <p>12.4 The rights and obligations of the parties set out in this agreement shall pass to any permitted successor in title.
            </p>
            <p>12.5 For the purposes of the United Kingdom Data Protection Act 1998 and any comparable law of any other country having jurisdiction and relating to the location of data processing, you consent to the processing of your personal data (in manual,
                electronic or any other form) relevant to this agreement, by us and/or any agent or third party nominated by us &nbsp; and bound by a duty of confidentiality. Processing includes but is not limited to obtaining, recording, using and holding data and
                includes the transfer of data to any country either inside or outside the EEA.
            </p>
            <p>12.6 Any obligation in this agreement intended to continue to have effect after termination shall so continue.
            </p>
            <p>12.7 No failure or delay by any party to exercise any right, power or remedy will operate as a waiver of it nor indicate any intention to reduce that or any other right in the future.
            </p>
            <p>12.8 When you visit Our Website or send messages to us by email, you are communicating with us electronically. We communicate with you by e-mail or by posting notices on Our Website. You agree that all our electronic communications satisfy any
                legal requirement that such communications be in writing.
            </p>
            <p>12.9 Any communication to be served on either party by the other shall be delivered by hand or sent by post or recorded delivery or by e-mail.
            </p>

            <table>
                <tbody>
                    <tr>
                        <td colspan="1" rowspan="1">
                            <p>
                                It shall be deemed to have been delivered:
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            <p>
                                if delivered by hand: on the day of delivery;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            <p>
                                if sent by post to the correct address: within four working days of posting to an address in the European Union and eight working days to any other address;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="1" rowspan="1">
                            <p>
                                If sent by e-mail to the address from which the receiving party has last sent e-mail: within 24 hours if no notice of non-receipt has been received by the sender.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>12.10 In the event of a dispute between the parties to this agreement, then they undertake to attempt to settle the dispute by engaging in good faith with the other in a process of mediation before commencing arbitration or litigation.
            </p>
            <p>12.11 This agreement does not give any right to any third party under the UK Contracts (Rights of Third Parties) Act 1999 or otherwise, except that any provision in this agreement which excludes or restricts the liability of our directors,
                officers, employees, subcontractors, agents and affiliated companies, may be enforced under that Act.
            </p>
            <p>12.12 In the event of any conflict between any term of this agreement and the provisions of the articles of a limited company or any comparable document intended to regulate any other corporate or collective body, then the terms of this agreement
                shall prevail.
            </p>
            <p>12.13 The validity, construction and performance of this agreement shall be governed by the laws of England and Wales &nbsp; and you agree that any dispute arising from it shall be litigated only in England and Wales.
            </p>
    </ol>
</div>
</div>

<%= render partial: 'layouts/footer' %>

</main>

</div>
