<% content_for :title, "Terms & Conditions for #{ Settings.app_name }" %>

<div class="mdl-layout mdl-js-layout">
    <%= render partial: 'layouts/header' %>

    <main class="mdl-layout__content">

        <div class="mdl-grid simple-sheet">
            <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset simple-sheet__sheet">
                <h1>Terms and conditions of use</h1>

                <p>
                    <strong>Updated on: November 19, 2016</strong>
                </p>
                <h2>Introduction</h2>
                <p>These terms and conditions apply between you, the User of this Website (including any sub-domains, unless expressly excluded by their own terms and conditions), and <%= Settings.company_name %>, the owner and operator of this Website. Please read these
                    terms and conditions carefully, as they affect your legal rights. Your agreement to comply with and be bound by these terms and conditions is deemed to occur upon your first use of the Website. If you do not agree to be bound by these terms and
                    conditions, you should stop using the Website immediately.</p>
                <p >In these terms and conditions, User or Users means any third party that accesses the Website and is not either (i) employed by <%= Settings.company_name %> and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing
                    services to <%= Settings.company_name %> and accessing the Website in connection with the provision of such services.</p>
                <p >You must be at least 18 years of age to use this Website. By using the Website and agreeing to these terms and conditions, you represent and warrant that you are at least 18 years of age.</p>
                <h2>Intellectual property and acceptable use</h2>
                <p>
                    1. All Content included on the Website, unless uploaded by Users, is the property of <%= Settings.company_name %>, our affiliates or other relevant third parties. In these terms and conditions, Content means any text, graphics, images, audio, video, software,
                    data compilations, page layout, underlying code and software and any other form of information capable of being stored in a computer that appears on or forms part of this Website, including any such content uploaded by Users. By continuing to use the
                    Website you acknowledge that such Content is protected by copyright, trademarks, database rights and other intellectual property rights. Nothing on this site shall be construed as granting, by implication, estoppel, or otherwise, any license or right
                    to use any trademark, logo or service mark displayed on the site without the owner&#39;s prior written permission</p>
                <p>2. You may, for your own personal, non-commercial use only, do the following:
                </p>

                <ul>
                    <li>retrieve, display and view the Content on a computer screen</li>
                    <li>download and store the Content in electronic form on a disk (but not on any server or other storage device connected to a network)</li>
                    <li>print one copy of the Content</li>
                </ul>
                <p>3. You must not otherwise reproduce, modify, copy, distribute or use for commercial purposes any Content without the written permission of <%= Settings.company_name %></p>
                <h2>Prohibited use</h2>
                4. You may not use the Website for any of the following purposes:
                <ul>
                    <li>in any way which causes, or may cause, damage to the Website or interferes with any other person&#39;s use or enjoyment of the Website;</li>
                    <li>in any way which is harmful, unlawful, illegal, abusive, harassing, threatening or otherwise objectionable or in breach of any applicable law, regulation, governmental order;</li>
                    <li>making, transmitting or storing electronic copies of Content protected by copyright without the permission of the owner.</li>
                </ul>
                <h2>Registration</h2>
                <p>5. You must ensure that the details provided by you on registration or at any time are correct and complete.</p>
                <p>6. You must inform us immediately of any changes to the information that you provide when registering by updating your personal details to ensure we can communicate with you effectively.</p>
                <p>7. We may suspend or cancel your registration with immediate effect for any reasonable purposes or if you breach these terms and conditions.</p>
                <p>8. You may cancel your registration at any time by informing us in writing to the address at the end of these terms and conditions. If you do so, you must immediately stop using the Website. Cancellation or suspension of your registration does not
                    affect any statutory rights.</p>
                <h2>Links to other websites</h2>
                <p>9. This Website may contain links to other sites. Unless expressly stated, these sites are not under the control of <%= Settings.company_name %> or that of our affiliates.</p>
                <p>10. We assume no responsibility for the content of such Websites and disclaim liability for any and all forms of loss or damage arising out of the use of them.</p>
                <p>11. The inclusion of a link to another site on this Website does not imply any endorsement of the sites themselves or of those in control of them.</p>
                <h2>Privacy Policy and Cookies Policy</h2>
                <p>12. Use of the Website is also governed by our Privacy Policy and Cookies Policy, which are incorporated into these terms and conditions by this reference. To view the Privacy Policy and Cookies Policy, please click on the following:
                    <%= Settings.www_url %>/privacy.</p>
                <h2>Availability of the Website and disclaimers</h2>
                <p>13. Any online facilities, tools, services or information that <%= Settings.company_name %> makes available through the Website (the Service) is provided &quot;as is&quot; and on an &quot;as available&quot; basis. We give no warranty that the Service will
                    be free of defects and/or faults. To the maximum extent permitted by the law, we provide no warranties (express or implied) of fitness for a particular purpose, accuracy of information, compatibility and satisfactory quality. <%= Settings.company_name %> is
                    under no obligation to update information on the Website.</p>
                <p>14. Whilst <%= Settings.company_name %> uses reasonable endeavours to ensure that the Website is secure and free of errors, viruses and other malware, we give no warranty or guaranty in that regard and all Users take responsibility for their own security,
                    that of their personal details and their computers.</p>
                <p>15. <%= Settings.company_name %> accepts no liability for any disruption or non-availability of the Website.</p>
                <p>16. <%= Settings.company_name %> reserves the right to alter, suspend or discontinue any part (or the whole of) the Website including, but not limited to, any products and/or services available. These terms and conditions shall continue to apply to any
                    modified version of the Website unless it is expressly stated otherwise.</p>
                <h2>Limitation of liability</h2>
                <p>17. Nothing in these terms and conditions will: (a) limit or exclude our or your liability for death or personal injury resulting from our or your negligence, as applicable; (b) limit or exclude our or your liability for fraud or fraudulent
                    misrepresentation; or (c) limit or exclude any of our or your liabilities in any way that is not permitted under applicable law.</p>
                <p>18. We will not be liable to you in respect of any losses arising out of events beyond our reasonable control.</p>
                <p>19. To the maximum extent permitted by law, <%= Settings.company_name %> accepts no liability for any of the following:
                </p>
                <ul>
                    <li>any business losses, such as loss of profits, income, revenue, anticipated savings, business, contracts, goodwill or commercial opportunities;</li>
                    <li>loss or corruption of any data, database or software;</li>
                    <li>any special, indirect or consequential loss or damage.</li>
                </ul>
                <h2>General</h2>
                <p>20. You may not transfer any of your rights under these terms and conditions to any other person. We may transfer our rights under these terms and conditions where we reasonably believe your rights will not be affected.</p>
                <p>21. These terms and conditions may be varied by us from time to time. Such revised terms will apply to the Website from the date of publication. Users should check the terms and conditions regularly to ensure familiarity with the then current
                    version.</p>
                <p>22. These terms and conditions together with the Privacy Policy and Cookies Policy contain the whole agreement between the parties relating to its subject matter and supersede all prior discussions, arrangements or agreements that might have taken
                    place in relation to the terms and conditions.</p>
                <p>23. The Contracts (Rights of Third Parties) Act 1999 shall not apply to these terms and conditions and no third party will have any right to enforce or rely on any provision of these terms and conditions.</p>
                <p>24. If any court or competent authority finds that any provision of these terms and conditions (or part of any provision) is invalid, illegal or unenforceable, that provision or part-provision will, to the extent required, be deemed to be deleted,
                    and the validity and enforceability of the other provisions of these terms and conditions will not be affected.</p>
                <p>25. Unless otherwise agreed, no delay, act or omission by a party in exercising any right or remedy will be deemed a waiver of that, or any other, right or remedy.</p>
                <p>26. These terms and conditions will be governed by and interpreted according to English law. All disputes arising under these terms and conditions will be subject to the exclusive jurisdiction of the English courts.</p>
                <h2><%= Settings.company_name %> details</h2>
                <p><%= Settings.company_name %> is a company incorporated in TODO with registered number TODO whose registered address is TODO and it operates the Website <%= Settings.www_url %>.</p>

                <p>You can contact <%= Settings.company_name %> by email on <%= Settings.support_email %>.</p>
            </div>
        </div>

        <%= render partial: 'layouts/footer' %>

    </main>

</div>
